// Display
.display-1 {
    line-height: 90px;
}

.display-2 {
    line-height: 80px;
}

.display-3 {
    line-height: 50px;
}

.display-4 {
    line-height: 38px;
}

// Heading
.display-1,
.display-2,
.display-3,
.display-4,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    line-height: 66px;
}

h2 {
    line-height: 46px;
}

h3 {
    line-height: 34px;
}

h4 {
    line-height: 28px;
}

h5 {
    line-height: 24px;
}

h6 {
    line-height: 22px;
}
