#blog {
    .section-header {
        h2 {
            color: #5d5a88 !important;
            font-size: 36px !important;
        }

        p {
            color: #9795b5 !important;
            font-size: 18px !important;
            line-height: 30px;
        }
    }

    .blog-content {
        .card {
            img {
                object-fit: cover;
                object-position: center;
                height: 220px;
            }

            h3 {
                color: #5d5a88;
            }

            p {
                color: #9795b5;
                font-size: 17px !important;
                line-height: 26px;
            }

            a {
                font-size: 17px !important;
                font-weight: 500;
            }

            .post-title,
            .post-desc {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            .post-title {
                -webkit-line-clamp: 2 !important;
            }
        }
    }
}

#blog-detail {
    h2,
    h4 {
        color: #5d5a88;
    }

    h4 {
        font-size: 22px !important;
    }

    p {
        color: #2e3c40;
        font-size: 18px;
    }

    img {
        height: 576.53px;
        object-fit: cover;
        object-position: center;
    }
}
