#home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/public/img/hero.jpeg);
    background-attachment: fixed;
    background-size: cover;

    .card {
        background-color: rgba(255, 255, 255, 0.1) !important;
        backdrop-filter: blur(10px) !important;

        .form-label {
            color: white;
        }

        .form-control#destination {
            border-color: transparent;
            background-color: rgba(255, 255, 255, 0.7) !important;
            backdrop-filter: blur(10px) !important;
        }

        .btn-primary {
            border-color: transparent !important;
            background-color: #ee682a !important;
        }

        .btn-primary:hover {
            background-color: rgb(201, 82, 28) !important;
        }

        label.btn-outline-light {
            border-color: #9b9592 !important;
        }

        .btn-check:checked + .btn {
            background-color: rgba(255, 255, 255, 0.7) !important;
        }
    }
}

#trending {
    .section-header {
        h2 {
            color: #5d5a88 !important;
        }

        p {
            color: #9795b5 !important;
        }
    }

    .card {
        h4 {
            color: #5d5a88 !important;
        }

        .lead {
            color: #9795b5 !important;
            font-size: 17px !important;
        }
    }
}

#excellence {
    .excellence-body {
        padding: 80px 120px;

        @media screen and (max-width: 768px) {
            padding: 27px 35px;
        }

        h2 {
            color: #5d5a88 !important;
        }

        p {
            color: #9795b5 !important;
        }
    }

    .feature-item {
        img {
            height: 50px;
        }
    }
}
