#itineraries {
    .section-header {
        h2 {
            color: #5d5a88 !important;
            font-size: 36px !important;
        }

        p {
            color: #9795b5 !important;
            font-size: 18px !important;
            line-height: 30px;
        }
    }

    .itineraries-item {
        img {
            object-fit: cover;
            object-position: center;
            height: 220px;
        }

        h3 {
            color: #6d758f;
        }

        p {
            color: #9795b5;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-size: 17px;
        }

        .schedule {
            h6 {
                font-weight: bold;
                color: #6d758f !important;
                font-size: 17px;
            }
        }
    }
}

#detail-trip-hero {
    h1 {
        margin-bottom: 1rem;
        line-height: 1.3;

        @media screen and (min-width: 992px) {
            line-height: inherit;
            margin-bottom: inherit;
        }
    }
}
