#itineraries {
    .section-header {
        h2 {
            color: #5d5a88 !important;
            font-size: 36px !important;
        }

        p {
            color: #9795b5 !important;
            font-size: 18px !important;
            line-height: 30px;
        }
    }

    .itineraries-list {
        --bs-gutter-x: 2.5rem !important;
        --bs-gutter-y: 2.5rem !important;
    }

    .itineraries-item {
        img {
            object-fit: cover;
            object-position: center;
            height: 220px;
        }

        h3 {
            color: #6d758f;
        }

        p {
            color: #9795b5;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-size: 17px;
        }

        .schedule {
            h6 {
                font-weight: bold;
                color: #6d758f !important;
                font-size: 17px;
            }
        }
    }
}
