#places {
    .section-header {
        h2 {
            color: #5d5a88 !important;
            font-size: 36px !important;
        }

        p {
            color: #9795b5 !important;
            font-size: 18px !important;
            line-height: 30px;
        }
    }

    .places-content {
        .card {
            img {
                object-fit: cover;
                object-position: center;
                height: 220px;
            }

            h5 {
                font-size: 20px !important;
                line-height: 20px !important;
                color: #5d5a88;
            }

            p {
                color: #5d5a88;
            }
        }
    }

    .place-search {
        .form-control {
            text-align: center;
        }

        ::placeholder {
            text-align: center;
        }

        .icon-search {
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            color: #9795b5;
        }
    }
}

#place-detail {
    .carousel {
        img {
            height: 400px;
            object-fit: cover;
            object-position: center;
        }
    }

    .place-detail-body {
        h2 {
            color: #5d5a88 !important;
        }

        p {
            color: #9795b5 !important;
            font-size: 18px;
            line-height: 30px;
        }

        .btn {
            border-color: transparent;
            background-color: #5d5a88 !important;
        }

        .btn:hover {
            background-color: #504d7a !important;
        }
    }
}
