.place-detail-body {
    h2 {
        color: #5d5a88 !important;
    }

    p {
        color: #9795b5 !important;
        font-size: 18px;
        line-height: 30px;
    }

    .btn {
        border-color: transparent;
        background-color: #5d5a88 !important;
    }

    .btn:hover {
        background-color: #504d7a !important;
    }
}
