#places {
    .section-header {
        h2 {
            color: #5d5a88 !important;
            font-size: 36px !important;
        }

        p {
            color: #9795b5 !important;
            font-size: 18px !important;
            line-height: 30px;
        }
    }

    .places-content {
        .card {
            img {
                object-fit: cover;
                object-position: center;
                height: 220px;
            }

            h5 {
                font-size: 20px !important;
                color: #5d5a88;
            }

            p {
                color: #5d5a88;
            }
        }
    }

    .place-search {
        .form-control {
            text-align: center;
        }

        ::placeholder {
            text-align: center;
        }

        .icon-search {
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            color: #9795b5;
        }
    }
}

#place-detail {
    .carousel {
        img {
            height: 400px;
            object-fit: cover;
            object-position: center;
        }

        .carousel-indicators button {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: $white !important;

            &.active {
                background-color: $primary !important;
            }
        }

        .carousel-control-prev-icon {
            background-image: url(/public/img/button-prev.png);
        }

        .carousel-control-next-icon {
            background-image: url(/public/img/button-next.png);
        }
    }

    .place-detail-content {
        p {
            color: #434343 !important;
            font-size: 18px;
            line-height: 30px;
        }

        .place-detail-body p:last-child {
            margin-bottom: 0 !important;
        }

        .place-detail-info {
            color: #2e3c40 !important;

            .google-map {
                padding-bottom: 50%;
                position: relative;

                iframe {
                    height: 100%;
                    width: 100%;
                    left: 0;
                    top: 0;
                    position: absolute;
                }
            }
        }
    }
}
