.btn-primary {
    color: #ffffff !important;

    &:hover {
        background-color: #e2672e !important;
    }
}

.btn-second {
    @extend .btn;
    background-color: $second;

    &:focus,
    &:active,
    &:hover {
        color: $light;
        background-color: darken($second, 10%);
    }
}
