#my-trip {
    .my-trip-empty {
        h2 {
            color: #5d5a88 !important;
        }
    }

    .my-trip-item {
        h3 {
            color: #6d758f;
        }

        p {
            color: #9795b5;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-size: 17px;
        }

        .schedule {
            h6 {
                font-weight: bold;
                color: #6d758f !important;
                font-size: 17px;
            }
        }
    }
}

#detail-trip-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/public/img/hero.jpeg);
    background-attachment: fixed;
    background-size: cover;
}

#detail-trip-calendar {
    a {
        text-decoration: none;
        color: $second !important;
    }
}

#detail-trip-places {
    .card-header {
        font-size: 20px !important;
    }

    .desc {
        font-size: 16px;
        line-height: 25px;
    }

    img {
        height: 325px;
        object-fit: cover;
        object-position: center;
    }
}
